<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Angular CLI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum reiciendis perspiciatis numquam ratione excepturi praesentium. Sunt, beatae quaerat minima odio consequatur quas natus earum iure, consectetur pariatur non eius minus.</p>
</ion-content>
